body{
    background-color: rgb(171, 138, 96);
    mask-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    margin: 0;
}
.button{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(165, 13, 13);
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 8px 2px 0px 0px rgb(71 2 2);
}
